.slider {
  position: relative;
  border-radius:2em;
  overflow:hidden;
}

.slider__images {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
}

.slider__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  min-height: 25vh;
  object-fit: cover;
  transition: all 0.3s;
}

.slider__image-container {
  flex-grow: 0;
  flex-shrink: 0;
  width:100%;
}

.slider__buttons {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  z-index: 1;
}

.slider__button {
  height: 100%;
  transition: all 0.3s linear;
  font-size: 2rem;
  padding: 0;
  color: white;
}

.slider__button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar--outer {
  position: absolute;
  bottom: 7%;
  width: 100%;
  z-index: 1;
}

.progress-bar--inner {
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
  display: flex;
  margin-inline: auto;
  align-items: end;
}

.progress-bar__candle {
  width: 2rem;
  height: 5px;
  background-color: white;
  opacity: 0.6;
}

.progress-bar__candle-active {
  opacity: 1;
}

.slider__content-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  left: 0;
  display: flex;
  width:100%;
}

.slider__content {
  width: 50%;
  color: white;
  font-size: var(--text-lg);
  z-index: 2;

  & h4 {
    font-size: clamp(var(--text-lg), 4vw, 3.5rem);
    line-height: 1.3em;
    font-weight: bold;
  }

}

.shop-now--button {
  padding: 0.5em 2em;
  border-radius: 2em;
  border: 1px solid hsl(var(--background));
  color: hsl(var(--background));
  font-size: var(--text-xs);
  width: fit-content;
  font-weight: bold;
  display: inline-block;
  margin-top: 1em;
  transition: all 0.2s linear;
}

.shop-now--button:hover,
.shop-now--button:focus,
.shop-now--button:active {
  background-color: var(--foreground);
}

.slider__link {
  color: var(--dark-accent);
  background-color: var(--bg-light);
}

@media only screen and (min-width:1024px) {
  .shop-now--button {
    padding: 0.75em 3em;
    font-size: var(--text-sm);
  }

  .slider__button {
    font-size: 4.375rem;
    padding:.2em;
  }

  .progress-bar__candle {
    width: 3.7rem;
    height: 7px;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width:1024px) {
  .slider__image {
    height: 100%;
  }

  .slider__image-container {
    width: 100vw;
    height: calc(100vh - 3.5em);
  }
}
