@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
      --background: 46, 72%, 93%;
      --foreground: #1E1E1E;
      --blue-accent: #0395D3;
      --dark-accent: #083249;
      --card-magenta: #F43F5E;
      --card-green: #84CC16;
      --card-yellow: #F59E0B;
      --card-grey: #D7D5D1;
      --text-2xs: 0.5rem;
      --text-xs: 0.7rem;
      --text-sm: 0.875rem;
      --text-base: 1rem;
      --text-lg: 1.24rem;
      --text-xl: 1.5rem;
      --text-2xl: 1.75rem;
      --text-3xl: 2rem;
      --border: #E3DBD8;
    }

    body {
      color: var(--foreground);
      background: hsl(var(--background));
      font-family: var(--font-jakarta-sans);
    }
}

@layer components{
    .marquee {
        height:30px;
        overflow: hidden;
        position: relative;
        background: #fefefe;
        color: #333;
    }
    
    .marquee p {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height:30px;
        top:0;
        left:0;
        margin: 0;
        text-align: center;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 2s linear infinite;
        -webkit-animation: scroll-left 2s linear infinite;
        animation: scroll-left 20s linear infinite;
    }
    
    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

    .image-collage{
        display:grid;
        min-height:30rem;
        grid-template-areas:
        "a a b"
        "a a c"
        "a a c"
        ". . c"
        ". . c"
        ;
        gap:1.5em;
    }

    .image-collage__a {
        grid-area: a;
    }

    .image-collage__b {
        grid-area: b;
    }

    .image-collage__c {
        grid-area: c;
    }
}
